body > footer
    color: #ffffff
    background: rgba(black, 0.6)
    bottom: 0
    position: absolute
    right: 0
    +border-top-left-radius(2px)
    +box-shadow(rgba(#000, 0.8) 3px 3px 10px 3px)
    padding: .5rem
    +box-sizing('border-box')
    font-size: .7rem
    font-style: italic
    text-align: right
    .logo
        font-size: 120%
