<!DOCTYPE html>{% load static %}
<html ng-app="LoremLinkinApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ link.title }} - LoremLink.in</title>
    <link rel="stylesheet" href="{% static "css/links/styles.css" %}" />
    <link rel="stylesheet" href="{% static "css/links/xeditable.css" %}"  />
    <script src="{% static "js/links/vendor/angularjs/angular.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/links/vendor/angularjs/angular-animate.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/links/vendor/angularjs/angular-cookies.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/links/vendor/angularjs/angular-sanitize.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/links/vendor/xeditable.min.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/links/app/app.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/links/app/services.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "js/links/app/controllers.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Roboto', 'Milonga']
        }
      });
    </script>
</head>
<body class="link" ng-controller="LLCtrl">
    {% if link.logo %}
    <header>
       <img src="{{link.logo}}">
    </header>
    {% endif %}
    <main>
        <section>
            <header><h1 ng-model="link.title" editable-text="link.title">{{ link.title }}</h1></header>
            <p ng-model="link.description" editable-textarea="link.description">{{ link.description }}</p>
            <button onclick="history.back()">Go Back</button>
        </section>
    </main>

    <footer>
        {% block footer %}
            Powered by <a class="logo">Lorem Linkin</a>
        {% endblock %}
    </footer>
</body>
</html>