{% extends "links/base.html" %}

{% block title %}{{ link.title }} - LoremLink.in{% endblock %}


{% block content %}
<body class="link" ng-controller="LLCtrl">
    {% if link.logo %}
    <header>
       <img src="{{link.logo}}">
    </header>
    {% endif %}
    <main>
        <section>
            {% load typogrify_tags %}
            <header><h1 ng-model="link.title" editable-text="link.title">{{ link.title|typogrify }}</h1></header>
            <p ng-model="link.description" editable-textarea="link.description">{{ link.description|typogrify }}</p>
            <div class="button-set">
                <button onclick="history.back()">Go Back</button>
            </div>
        </section>
    </main>

    <footer>
        {% block footer %}
            Powered by <a class="logo">Lorem Linkin</a>
        {% endblock %}
    </footer>
</body>
{% endblock %}
